* {
  box-sizing: border-box;
}

body {
  background-color: #93bf82;
  text-align: center;
  margin: 0%;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border: 10px solid #719463;
}

footer {
  background-color: #87af77;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  height: 40px;
}

.menu {
  display: flex;
  width: 100%;
  height: 105px;
  background-color: #87af77;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.menu_item {
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
  cursor: default;
}

button {
  background-color: #719463;
  transition: 0.5s ease;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 3px solid #5f7a54;
  height: 25px;
}

button:hover {
  background-color: #acda9a;
  box-shadow: #93bf82;
}

.myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
  display: none;
}

.kill {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
  display: none;
}
