* {
  box-sizing: border-box;
}

.page_container {
  position: relative;
  min-height: 100vh;
}

.content_wrap {
  padding-bottom: 2.5rem;
}

body {
  background-color: #93bf82;
  text-align: center;
  margin: 0%;
  padding: 0%;
  min-height: 100%;
  font-family: 'Zen Antique Soft', serif;
}

img {
  width: 50vh;
  height: 50vh;
  object-fit: cover;
  object-position: center;
  border: 10px solid #719463;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  width: 50vh;
  margin: 30px;
  height: 60vh;
  gap: 10px;
}

footer {
  background-color: #87af77;
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 2.5rem;
}

header {
  width: 100%;
}

.menu {
  height: auto;
  background-color: #87af77;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

.menu_item .h1 {
  font-size: 25px;
  font-weight: bold;
}

.menu_item {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
  cursor: default;
  font-size: 15px;
}

button {
  background-color: #719463;
  transition: 0.5s ease;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 3px solid #5f7a54;
  height: 25px;
}

button:hover {
  background-color: #acda9a;
  box-shadow: #93bf82;
}

.index_text_container {
  display: flex;
  justify-content: center;
}

.index_item {
  width: 70%;
}

.myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
  display: none;
}

.kill {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
  display: none;
}

.bloom {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
  display: none;
}
